@media screen and (min-width: 800px) {
  /* body */
  body {
    display: grid;
    text-align: center;
    background-color: lemonchiffon;
    grid-template-columns: 24% 50% 24%;
  }
  body nav {
    display: grid;
    /* Spalte 1 */
    grid-column-start: 1;
    /* 3 Zeilen lang */
    grid-row-end: span 3;
    /* Zeile 1 */
    grid-row-start: 1;
    border: darkslateblue solid 2px;
  }
  nav img {
    max-width: 80px;
    max-height: 80px;
  }
  body .nav-2 {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: span 3;
    border: mediumblue solid 2p;
    /* Spalte 3 */
    grid-column-start: 3;
    /* 3 Zeilen lang */
    grid-row-end: span 3;
    /* Zeile 1 */
    grid-row-start: 1;
  }
  .nav-2 img,
  nav img {
    max-width: 80px;
    max-height: 80px;
  }
  /*****header*****/
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Zeile 1 */
    grid-row-start: 1;
    /* Spalt2 */
    grid-column-start: 2;
  }
  header img {
    width: 80px;
    border: mediumvioletred solid 2px;
  }
  header ol {
    list-style: none;
    border: purple solid 2px;
  }
  header input {
    border: black solid 2px;
  }
  /******main******/
  main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border-radius: inherit;
    background-color: lawngreen;
    text-align: center;
    padding: 20px;
    /* Zeile 2 */
    grid-row-start: 2;
    /* Spalte 2 */
    grid-column-start: 2;
  }
  main .box1 {
    border: maroon solid 3px;
    grid-column-start: 1;
    background-color: indianred;
  }
  main .box2 {
    border: khaki solid 3px;
    grid-column-start: 3;

    background-color: indianred;
  }
  main .box3 {
    border: honeydew solid 3px;
    grid-column-start: 1;
    grid-row-end: span 3;
  }
  main .box4 {
    border: orangered solid 3px;
    grid-column-start: 1;
    grid-row-start: 3;
  }
  main .box5 {
    border: orangered solid 3px;
    grid-column-start: 3;
    grid-row-end: 3;
  }
  main img {
    width: 100%;
    margin: 10px;
  }
  /*******footer******/
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: red solid 3px;
    /* Zeile 3 */
    grid-row-start: 3;
    /* Spalte 2 */
    grid-column-start: 2;
  }
  footer img {
    width: 100px;
  }
  footer .box6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: black solid 3px;
    list-style: none;
    padding: 0px;
  }
}
